@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body{
  overflow-x: hidden;
}
.swiper-pagination-bullet{
  width: 13px !important;
  height: 13px !important;
  background-color: #EEEEEE !important;
  border:2px solid #EEEEEE !important;

}
.swiper-pagination-bullet-active{
  background-color: #D03459 !important;
  border:1px solid #D03459 !important;
}


:where(.css-dev-only-do-not-override-byeoj0).ant-select:not(.ant-select-customize-input) .ant-select-selector{
  width: 100%;
  height: 50px;
  align-items: center;
}
:where(.css-dev-only-do-not-override-byeoj0).ant-select-single.ant-select-show-arrow .ant-select-selection-item{
  color: #000;
  font-size: 16px;
  font-weight: 600;

}

:where(.css-dev-only-do-not-override-byeoj0).ant-progress .ant-progress-inner{
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 0px;
  width: 470px;
  height: 17px;
}

:where(.css-dev-only-do-not-override-byeoj0).ant-progress .ant-progress-success-bg, :where(.css-dev-only-do-not-override-byeoj0).ant-progress .ant-progress-bg {
  background-color: rgba(208, 52, 89, 1);
  border-radius: 0px;
  width: 470px;
  height: 17px !important;
}


  :where(.css-dev-only-do-not-override-byeoj0).ant-progress .ant-progress-text{

  color: #fff;
  font-weight: 500;
  font-size: 12px;
}